In [1]:
import pandas as pd
import numpy as np

In [2]:
# importing the csv file containing the translated sentences from english-nyanja
df = pd.read_csv('lozi-eng.csv')
df.head()

,IMAGE_ID,ENGLISH SENTENCES,LOZI TRANSLATIONS
0,4.003451e+08,A silhouette of a child playing in the beautif...,siluti sa mwanana ya bapalela fa liwate lelind...
1,4.003587e+09,A man is carrying a baby in a pouch to his che...,Muuna upepile mbututu mwa kananulelo kaka fa s...
2,4.003794e+09,People marching down a street playing band ins...,batu basweli kuchaula inge baya mwasi lalanda ...
3,4.003921e+09,A group of people outside playing drums and wa...,sikwata sa batu bainzi fande inge baliza lingo...
4,4.003924e+09,"A group of people stand behind a black sign , ...",sikwata sabatu bayemi kwamulaho wa si boniso s...

In [3]:
df.shape

(4498, 3)

In [4]:
a = df.drop([0,0], axis = 0, inplace=True)
df.to_csv('lz-en-1.csv', index = False)
df.to_csv('lz-en-2.csv', index = False)

In [5]:
df2 = pd.read_csv('lz-en-1.csv')
df2.head()

,IMAGE_ID,ENGLISH SENTENCES,LOZI TRANSLATIONS
0,4.003587e+09,A man is carrying a baby in a pouch to his che...,Muuna upepile mbututu mwa kananulelo kaka fa s...
1,4.003794e+09,People marching down a street playing band ins...,batu basweli kuchaula inge baya mwasi lalanda ...
2,4.003921e+09,A group of people outside playing drums and wa...,sikwata sa batu bainzi fande inge baliza lingo...
3,4.003924e+09,"A group of people stand behind a black sign , ...",sikwata sabatu bayemi kwamulaho wa si boniso s...
4,4.004005e+09,"A young dreadlocked woman is on stage , singin...",kalibe wamusizani ya tatani milili ufa patelo ...

In [6]:
df3 = pd.read_csv('lz-en-2.csv')
df3.head()

,IMAGE_ID,ENGLISH SENTENCES,LOZI TRANSLATIONS
0,4.003587e+09,A man is carrying a baby in a pouch to his che...,Muuna upepile mbututu mwa kananulelo kaka fa s...
1,4.003794e+09,People marching down a street playing band ins...,batu basweli kuchaula inge baya mwasi lalanda ...
2,4.003921e+09,A group of people outside playing drums and wa...,sikwata sa batu bainzi fande inge baliza lingo...
3,4.003924e+09,"A group of people stand behind a black sign , ...",sikwata sabatu bayemi kwamulaho wa si boniso s...
4,4.004005e+09,"A young dreadlocked woman is on stage , singin...",kalibe wamusizani ya tatani milili ufa patelo ...

In [7]:
df2 = df.drop(['IMAGE_ID','ENGLISH SENTENCES'], axis=1) # droping selected columns 
df3 = df.drop(['IMAGE_ID','LOZI TRANSLATIONS'], axis=1) # droping selected columns

In [8]:
df2

                                      LOZI TRANSLATIONS
1     Muuna upepile mbututu mwa kananulelo kaka fa s...
2     batu basweli kuchaula inge baya mwasi lalanda ...
3     sikwata sa batu bainzi fande inge baliza lingo...
4     sikwata sabatu bayemi kwamulaho wa si boniso s...
5     kalibe wamusizani ya tatani milili ufa patelo ...
...                                                 ...
4493  batu baba ketalizoho nihalimumwi bainzi fa sip...
4494  muuna yatinile hembe ni bulukwe ni musali yati...
4495  baana ni basali babañata, batinile liapalo zaf...
4496  batu baba beli bacha fa tafule yemwa tasaa sik...
4497  mushimani yomuinyani wamwa Africa uinzi fa kas...

[4497 rows x 1 columns]

In [9]:
df3

                                      ENGLISH SENTENCES
1     A man is carrying a baby in a pouch to his che...
2     People marching down a street playing band ins...
3     A group of people outside playing drums and wa...
4     A group of people stand behind a black sign , ...
5     A young dreadlocked woman is on stage , singin...
...                                                 ...
4493  Six people sitting on a street side bench in f...
4494  A man in a purple shirt and jeans and a woman ...
4495  Many men and women , in casual clothes , sitti...
4496  Two people are eating a meal at a table with u...
4497  A young African boy sits perched on a gate pos...

[4497 rows x 1 columns]

In [10]:
lozi = df2.to_csv('lozi.csv', index = False)
eng = df3.to_csv('eng.csv', index = False)

In [23]:
# Splitting data into training and validation
src_train = df3.iloc[:1000,:]
tgt_train = df2.iloc[:1000,:]
src_val = df3.iloc[1000:1700,:]
tgt_val = df2.iloc[1000:1700,:]
src_test = df3.iloc[1700:4498,:]
tgt_test = df2.iloc[1700:4498,:]


src_test.to_csv('src-test.txt', index=False)
tgt_test.to_csv('tgt-test.txt', index=False)
src_train.to_csv('src-train.txt', index=False)
tgt_train.to_csv('tgt-train.txt', index=False)
src_val.to_csv('src-val.txt', index=False)
tgt_val.to_csv('tgt-val.txt', index=False)

In [24]:
data1 = pd.read_csv('src-train.txt')
data2 = pd.read_csv('tgt-train.txt')
data3 = pd.read_csv('src-val.txt')
data4 = pd.read_csv('tgt-val.txt')
data5 = pd.read_csv('src-test.txt')
data6 = pd.read_csv('tgt-test.txt')

In [25]:
data1

                                     ENGLISH SENTENCES
0    A man is carrying a baby in a pouch to his che...
1    People marching down a street playing band ins...
2    A group of people outside playing drums and wa...
3    A group of people stand behind a black sign , ...
4    A young dreadlocked woman is on stage , singin...
..                                                 ...
995  Four men seated at a table in a restaurant wit...
996  A small group of people with a spotlight on th...
997  A young man in a green shirt is jumping with h...
998  Child plays with pigeon in busy public area wh...
999  A man and a woman play an accordion and violin...

[1000 rows x 1 columns]

In [26]:
data2

                                     LOZI TRANSLATIONS
0    Muuna upepile mbututu mwa kananulelo kaka fa s...
1    batu basweli kuchaula inge baya mwasi lalanda ...
2    sikwata sa batu bainzi fande inge baliza lingo...
3    sikwata sabatu bayemi kwamulaho wa si boniso s...
4    kalibe wamusizani ya tatani milili ufa patelo ...
..                                                 ...
995  baana babane bainzi fatafule mwa licelo mi muu...
996  sikwatanyana sa batu baba monyehilwe lampi, ba...
997  mutangana wa hembe yetala usweli watula fa sib...
998  mwanana ubapala ninyunywani mwa sibaka sesi pa...
999  muuna ni musali basweli balizeza batu, kapanga...

[1000 rows x 1 columns]

In [27]:
data3

                                     ENGLISH SENTENCES
0    A man wearing a red shirt sits on a cement ben...
1    A man in a black hooded sweatshirt and a man i...
2    Two large cones are outside , in the street , ...
3    Five men are surrounded by half-assembled bicy...
4    There are three men in this picture , two are ...
..                                                 ...
695  A young man is washing his hair , brushing his...
696  A man carrying a blue jacket is unloading a ch...
697  People gathered around a ring where they are h...
698  A woman with a white shirt and blue striped pa...
699  A woman wearing a hat , boots and leopard stri...

[700 rows x 1 columns]

In [28]:
data4

                                     LOZI TRANSLATIONS
0    muuna yatinile hembe yefubelu uina fa sipula s...
1    muuna yamwa hembe yensu, yenani kuwani, ni muu...
2          likota zepeli lifandaa muyaho, mwa mukwakwa
3    baana baba ketalizoho batingulukilwe ki linjin...
4    kunani baana baba lalu mwa siswaniso see, baba...
..                                                 ...
695  mutangana utapisa milili yahae, mwahanu ni kub...
696  muuna yalwezi jakete yamubala oswana sina malu...
697  batu baba kopani mwa sibaka sabaezeza papali y...
698  musali yatinile hembe yesweu ni bulukwe bwa mi...
699  musali yatinile kuwani, makatulo ni bulukwe bw...

[700 rows x 1 columns]

In [30]:
data5

                                      ENGLISH SENTENCES
0     Watchers of a parade remain seated while other...
1     Toys are hanging from the ceiling above a glas...
2     The girl in the pink California Santa Cruz swe...
3     Four police officers dressed in riot gear are ...
4     Two women with white and purple gowns while po...
...                                                 ...
2792  Six people sitting on a street side bench in f...
2793  A man in a purple shirt and jeans and a woman ...
2794  Many men and women , in casual clothes , sitti...
2795  Two people are eating a meal at a table with u...
2796  A young African boy sits perched on a gate pos...

[2797 rows x 1 columns]

In [31]:
data6

                                      LOZI TRANSLATIONS
0     batu bababuha babachaula , bainzii babamwi baz...
1     libapaliso za nyendaela fahalimwaa lico  zefa ...
2     musizani yatinile liapalo za Santa Cruz utinil...
3     mapokola babane batinile liapalo za kuchaulela...
4     basali baba beli batinile zesweu bayemi kuli b...
...                                                 ...
2792  batu baba ketalizoho nihalimumwi bainzi fa sip...
2793  muuna yatinile hembe ni bulukwe ni musali yati...
2794  baana ni basali babañata, batinile liapalo zaf...
2795  batu baba beli bacha fa tafule yemwa tasaa sik...
2796  mushimani yomuinyani wamwa Africa uinzi fa kas...

[2797 rows x 1 columns]